.service {
  border: 0px solid gray;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}

.service img {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;


}