.service {
  border: 1px solid gray;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 8px;


}

.service img {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;


}